* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main {
  position: relative;
  height: 80%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #5d6d7e, #566573);
  box-shadow: 1px 0px 20px 12px rgba(0,0,0, 0.2);
  border-radius: 15px;
  margin-top:30px;
}

.main button {
  padding: 10px 12px;
  margin: 0 10px;
}

.main #logo {
  position: absolute;
  top: 10px;
  left: 30px;
  font-size: 25px;
  color: #ccc;
  text-transform: capitalize;
}
.main #logo i {
  margin-right: 15px;
}

.right,
.left {
  position: relative;
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.left img {
  height: 300px;
  width: 80%;
  border-radius: 15px;
  box-shadow: 1px 0px 20px 12px rgba(240, 240, 240, 0.2);
}

input[type="range"] {
  -webkit-appearance: none;
  width: 50%;
  outline: none;
  height: 2px;
  margin: 0 15px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background: #db65ff;
  border-radius: 50%;
  cursor: pointer;
}
.right input[type="range"] {
  width: 40%;
}

.left .volume {
  position: absolute;
  bottom: 10%;
  left: 0;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.left .volume p {
  font-size: 15px;
}
.left .volume i {
  cursor: pointer;
  padding: 8px 12px;
}

.volume #volume_show {
  padding: 8px 12px;
  margin: 0 5px 0 0;
  background: rgba(245, 245, 245, 0.2);
}

/* //right part  */
.right .middle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.right .middle button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.5s;
  background: rgba(245, 245, 245, 0.2);
}

.right .middle button:hover {
  background-color: white;
  color: #db65ff;
}

.right #title {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  text-transform: capitalize;
  color: #fff;
  font-size: 35px;
}

.right #artist {
  position: absolute;
  top: 110px;
  left: 50%;
  transform: translateX(-50%);
  text-transform: capitalize;
  color: #fff;
  font-size: 18px;
}

.right .duration {
  position: absolute;
  bottom: 20%;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  height: 20px;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right .duration p {
  color: #fff;
  font-size: 15px;
  margin-left: 20px;
}
.right #auto {
  font-size: 18px;
  cursor: pointer;
  margin-top: 45px;
  border: none;
  padding: 10px 14px;
  color: #fff;
  background: rgba(245, 245, 245, 0.2);
  outline: none;
  border-radius: 10px;
  color: black;
  margin-left: 8px;
}

.right #auto:hover {
  background-color: white;
  transition: all 0.2s;
  color: #db65ff;
}

#play {
  background: #6cc1e9;
}
#play:hover {
  background-color: white;
  color: #db65ff;
}

.right i:before {
  font-size: 20px;
}

.right .show_song_no {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  color: #fff;
  border-radius: 5px;
  background: rgba(245, 245, 245, 0.2);
}

.right .show_song_no p:nth-child(2) {
  margin: 0 5px;
}



body {
  

   
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
    background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

body .heading{
    position: absolute;
    z-index: 100;
    display:flex;
    align-items:center;
    top: 0;
    justify-content:space-between;
   color: black;
   background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
   background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
   border-radius: 15px;
   margin-top: 22px;
   padding: 5px;
   text-align: space-between;
   cursor: pointer;
}

body .heading:hover{
    color: white;
    background: linear-gradient(to bottom, rgba(149, 187, 35, 0.276) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    
 background-blend-mode: multiply,multiply;
 transition: all 0.2s;
  
}

